.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.25rem 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    text-align: center;
    background-color: #201c1c;
    overflow: hidden;
}

.card > img {
    height: 200px;
    width: 200px;
}
