.song-row {
    composes: table-row from './TableRow.module.css';
    border-radius: 5px;
    user-select: none;
    color: white;
}

.song-row-current-track {
    composes: song-row;
    color: #30c75c;
}

.song-row:hover {
    filter: brightness(130%);
    background-color: #282828;
}

.song-row img {
    margin-left: 0;
}