.footer {
    display: flex;
    grid-row: 2 /3;
    grid-column: 1 / 4;
    height: 90px;
    color: #b3b3b3;
    border-top-width: 0.3rem;
    border-top-color: black;
    background-color: #201c1c;
}

.footer-left {
    display: flex;
    flex: 1 1 25%;
    align-items: center;
    width: 25%;
    column-gap: 0.7rem;
}

.footer-left h4 {
    color: #ffffff;
}

.footer-center {
    display: flex;
    flex: 2 1 50%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-width: 250px;
    padding: 25px 100px;
    font-size: 0.7rem;
}

.footer-right {
    display: flex;
    flex: 1 1 25%;
    align-items: center;
    justify-content: flex-end;
}