.tableview-container {
    display: flex;
    flex-direction: column;
}

.tableview-heading {
    display: flex;
    flex-direction: row;
    font-size: 1.75rem;
}

.tableview-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tableview-title > h1, h6 {
    margin: 10px;
}

.tableview-image {
    padding: 30px;
    filter: drop-shadow(0 0 1rem #121212);
}

.tableview-image > img {
    width: 250px;
    height: 250px;
}