.user-playlists {
    justify-self: flex-end;
    height: 75%;
    padding-top: 0.25rem;
    border-top: 1px solid;
    border-top-color: #575757;
    overflow-y: scroll;
}

.playlist-row {
    font-size: 0.85rem;
    font-family: inherit;
    margin: 0.85rem 0;
}

.playlist-row:hover {
    filter: brightness(130%);
}